* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
img {
  width: 100%;
}
.blueBG {
  background-color: #195774;
  text-align: center;
  color: white;
  padding: 30px 0 20px;
}
.banner-image img {
  width: 100%;
}
.puppies {
  /* width: 960px; */
  margin: 80px auto;
  width: 80%;
  /* display: flex; */
  /* justify-content: space-between; */
}
.puppies > div {
  margin-bottom: 40px;
}

.text {
  background-color: #ee4d65;
  height: 317px;
  display: none;
}
.text div {
  padding: 50px 50px 50px 0px;
  font-size: 60px;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 40px;
}
footer div {
  padding: 80px 0;
  font-size: 40px;
}

@media (min-width: 960px) {
  .puppies {
    display: flex;
    justify-content: space-between;
    width: 960px;
  }
  .text {
    display: block;
  }

  .puppies-image1,
  .puppies-image2,
  .text {
    width: 33%;
  }
  .puppies-image1 img,
  .puppies-image2 img,
  .text div {
    width: 100%;
  }
}
